# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.hmap
xcuserdata/

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Archives & symbols
*.ipa
*.dSYM
*.dSYM.zip

# macOS
.DS_Store
